:host {
  position: relative;
  display: block;
  --animation-time: 1s;
  overflow: hidden;
}

.array-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.array-container > div {
  flex: 1;
  position: relative;
}

.value {
  border-radius: 2px;
  min-height: 2px;
}

.current {
  z-index:999;
}

.current:after {
  content:"";
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 125%) rotate(-135deg);
}

.negative-value {
  transform: translate(0, 100%);
}

.negative-value:after {
  bottom: 100%;
}

.zero-value {
  height: 2px;
  margin-bottom: -1px;
}

.sorted {
  background-color: green;
}

.unsorted {
  background-color: firebrick;
}

.marked {
  background-color: orange;
}

@keyframes fadeIn {
  0% { opacity: 0.2; }
  100% { opdacity: 1; }
}

.swapped {
  animation: fadeIn var(--animation-time);
}

