mat-toolbar {
  height: 60px;
}

mat-icon {
  transform: scale(1.4);
}

table {
  table-layout: auto;
  margin-left: 2px;
}

tr :nth-child(1):not(th) {
  width: 23px;
  text-align: left;
  color: grey;
  font-size: 0.9em;
}

tr :nth-child(2) {
  text-align: left;

  display: flex;
}

th {
  text-align: left;
}

#td-val {
  width: 100%;
  display: flex;
}

td > div > input {
  flex: 1;
  border: none;
  height: 20px;
  color: #333;
  font-size: 1.1em;
  border: 1px solid #eef;
  border-radius: 4px;
}

#control-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-left: 8px;
}

.overlay {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 20px;
  width:150px;
  border-radius: 8px;
  background-color: white;
  height: 380px;
}

.overlay > button {
  background-color: #eee;
  margin: 3px;
}

.overlay > button:focus {
  animation: none;
}

.overlay-container {
  width: 250px;
  display: flex;
  justify-content: flex-end;
}

.manual-edit-container{
  background-color: white;
  width:105px;
  border: 2px solid black;
  border-radius: 8px;
  margin-right: -2px;
  padding-right: 4px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: scroll;
}

.select-menu {
  width: 120px;
  margin-top: -12px;
  margin-right: 12px;
}

.select-label {
  position: relative;
  font-size: 0.6em;
  left: 10%;
  margin-bottom: -16px;
  background-color:#3F51B5;
  width:fit-content;
  padding-left: 2%;
  padding-right: 2%;
  color: lightgray;
}

mat-select {
  font-size: 90%;
  color: white;
  border: 2px solid #E91E63;
  border-radius: 8px;
  padding: 2% 4% 0% 4%;
  display: flex;
  align-items: center;
  height: 30px;
}

button:focus {
  animation: activate 0.5s;
}

button:active {
  animation: none;
}

input.ng-invalid {
  background-color: red;
}

@keyframes activate {
  0% {
    color: indigo;
  }
  100% {
    color: white;
  }
}

@media screen and (max-width: 650px) {
  mat-icon {
    transform: scale(1.2);
  }
  
  #control-row > button {
    transform: scale(0.9);
  }

  #control-row {
    gap: 5px;
  }

  .select-menu {
    transform: scale(0.8);
    margin-right: 2px;
    margin-left: -8px;
  }

  .select-label {
    font-size: 0.5em;
  }

  #title {
    display: none;
  }

  .overlay {
    transform: none;
  }
}