:host {
  display: block;
  border-radius: 2%;
  box-shadow: 1px 1px 6px black;
  overflow: hidden;
}

app-array-view {
  flex: 1;
  width: 98%;
  padding: 2% 2% 2% 1%;
}

button {
  background-color: lightseagreen;
  transform: scale(0.9);
}

button:focus {
  animation: activate 0.5s;
}

button:active {
  animation: none;
}

mat-option {
  font-size: 70%;
  border-radius: 2%;
  border: 1px solid lightgrey;
}

mat-select {
  font-size: 100%;
  border: 2px solid lightseagreen;
  border-radius: 8px;
  padding: 1% 4% 0% 4%;
}

.select-sort-menu {
  width: 25%;
  margin-top: -2%;
}

.select-label {
  position: relative;
  font-size: 0.75em;
  color: grey;
  left: 10%;
  margin-bottom: -10%;
  background-color: #eef;
  width:fit-content;
  padding-left: 2%;
  padding-right: 2%;
}

.activate {
  animation: activate 0.5s;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-panel {
  flex: 1;
  margin-left: 5%;
  margin-top: 1%;
  font-size: 0.9em;
}

.info-panel :nth-child(2) {
  margin-top: -5%;
}

.sort-bar {
  height: 60px;
  background-color: #eef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}

.button-stack {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  gap: 4%;
  margin-top: -4%;
}

.button-stack>button {
  height: 100%;
  width: 100%;
  transform: scale(0.8);
}

.play-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button-container .button-stack {
  margin-left: -2%;
}

@keyframes activate {
  0% {
    color: indigo;
  }

  100% {
    color: white;
  }
}