:host {
  display: block;
  border-radius: 2%;
  box-shadow: 1px 1px 6px black;
  overflow: hidden;
}

app-array-view {
  flex: 1;
  width: 98%;
  padding: 2% 2% 2% 1%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sort-bar {
  height: 50px;
  background-color: #eef;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}

button {
  background-color: lightseagreen;
  transform: scale(0.9);
}

@keyframes activate {
  0% { color: indigo; }
  100% { color: white; }
}

button:focus {
  animation: activate 0.5s;
}

button:active {
  animation: none;
}
