<div class="container">
  <app-sort-view-toolbar
    [info]="sorterStatus.info"
    [isOn]="(isOn$ | async) || false"
    [setSortType]="setSortType"
    [play]="play"
    [pause]="pause"
    [touched]="touched"
    [faster]="faster"
    [slower]="slower"
    [restart]="restart"
    [onShuffleClick]="onShuffleClick"
    [destroySelf]="destroySelf"
    [windowAddDelete$]="windowAddDelete$"

  ></app-sort-view-toolbar>
  
  <app-array-view
    [array]="sorterStatus.arr"
    [classList]="sorterStatus.classList"
    [stepTime]="stepTime"
  ></app-array-view>
<div>

