mat-toolbar {
  height: 60px;
}

mat-icon {
  transform: scale(1.4);
}

#control-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.overlay {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width:150px;
  border-radius: 8px;
  background-color: white;
  transform: translate(-36%);
}

.overlay > button {
  background-color: #eee;
  margin: 3px;
  }

.sort-view-container {
  height: calc(100% - 60px);
  max-width: 100%;
  max-height: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 10px 10px 0px 10px;
 
}

.select-menu {
  width: 25%;
  width: 120px;
  margin-top: -12px;
  margin-right: 12px;
}

.select-label {
  position: relative;
  font-size: 0.6em;
  left: 10%;
  margin-bottom: -16px;
  background-color:#3F51B5;
  width:fit-content;
  padding-left: 2%;
  padding-right: 2%;
  color: lightgray;
}

mat-select {
  font-size: 90%;
  color: white;
  border: 2px solid #E91E63;
  border-radius: 8px;
  padding: 2% 4% 0% 4%;
  display: flex;
  align-items: center;
  height: 30px;
}

button:focus {
  animation: activate 0.5s;
}

button:active {
  animation: none;
}

@keyframes activate {
  0% {
    color: indigo;
  }
  100% {
    color: white;
  }
}