<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Visualize Sorting</span>

    <div id="control-row">
      <div *ngIf="isOn$.value === true; else elseBlock">
        <button mat-mini-fab 
          matTooltip="Pause"
          (click)="pause()"
          [ngClass]="{ 'activate': true }"
          ><mat-icon>pause_circle_outline</mat-icon>  
        </button>
      </div>
      <ng-template #elseBlock>
        <button mat-mini-fab 
          (click)="play()"
          matTooltip="Play all"
          ><mat-icon >play_circle_outline</mat-icon>  
        </button>
      </ng-template>

      <div class="select-menu">
        <div class="select-label">Set Global Speed</div>
        <mat-select #sel
        [(value)]="defaultSpeed" 
        (selectionChange)="onSpeedSelection"
         >
          <mat-select-trigger>
            <span [ngStyle]="{
              'color': 'white',
              'display': 'flex',
              'justify-content': 'center'
            }">{{sel.value}}</span>
          </mat-select-trigger>
          <mat-option value="Slower">Slower</mat-option>
          <mat-option value="Slow">Slow</mat-option>
          <mat-option value="Standard">Standard</mat-option>
          <mat-option value="Fast">Fast</mat-option>
          <mat-option value="Faster">Faster</mat-option>
        </mat-select>
      </div>

      <button mat-mini-fab matTooltip="Reset all">
        <mat-icon>replay</mat-icon>  
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="sort-view-container">
  <ng-template sortHost></ng-template>
</div>